In [6]:
print("Hello Chitkara",end=',')
print("This is a ML Workshop")

Hello Chitkara,This is a ML Workshop

In [8]:
"""This is a 
multiline comment"""
# Signgle line comment

'This is a \nmultiline comment'

In [3]:
"""Variables"""
a = 5.5
b = 10
b = "hi"
print(str(a)+b)
print(type(a))
print(type(b))

5.5hi
<class 'float'>
<class 'str'>

In [ ]:
clg_name = input("Enter You College")
print("Hi ",clg_name)

In [1]:
a = 10

In [4]:
print(a)

5.5

In [6]:
"""Basic Airthmetic In Python"""
a = 10
b = "Hello"
print("%s and %d"%(b,a))

Hello and 10

In [7]:
a = "Hello World"
print(len(a))

11

In [2]:
"""Read a list of numbers"""
numbers = input()
l = numbers.split()
print(l)
10

10 20 30 40
['10', '20', '30', '40']

10

In [18]:
"""Lists in Python"""
l = [1,[2,3,7,8],4,"Hello",9.0]
l.append(40)
l[0] = 5
print(l)
print(type(l))
print(l[1])
"""Slicing"""
print(l[1:3])
print(l[-2::-2])

[5, [2, 3, 7, 8], 4, 'Hello', 9.0, 40]
<class 'list'>
[2, 3, 7, 8]
[[2, 3, 7, 8], 4]
[9.0, 4, 5]

In [10]:
s = "Hello"
s = "World"
print(s)
#s[0] = 'A'

World

In [34]:
#l = [1,2,3]
l = [4,3,5,7,8]
print(l)
l.pop(1)
print(l)
l.remove(7)
print(l)
del l[2]
print(l)

[4, 3, 5, 7, 8]
[4, 5, 7, 8]
[4, 5, 8]
[4, 5]

In [36]:
"""Loops in Python"""
i = 1
while i<=10:
    print(i)
    i += 2
print("Loop Ended")

1
3
5
7
9
Loop Ended

In [60]:
for i in range(10,0,-2):
    print(i,end=",")

10,8,6,4,2,

In [57]:
l = [1,2,3,4,6]
for x in l:
    print("%.3f and %d "%(x**0.5,x),end=",")

1.000 and 1 ,1.414 and 2 ,1.732 and 3 ,2.000 and 4 ,2.449 and 6 ,

In [58]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
6

In [2]:
"""Write a program to print Factorial of a number"""
n = int(input("Enter the number"))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

Enter the number20
2432902008176640000

### Goodie Question : Find Trailing Zeroes in a Factorial of a Number without 
### calculating the factorial

In [1]:
n = 30
ans = 0
i = 1
while(True):
    if(n==0):
        break
    val = n//(5**i)
    if val==0:
        break
    ans += val
    i = i + 1
    
print(ans)

7

## More Builtin Data Structures
- Lists
- Tuples
- Dictionaries

In [6]:
a = (1,2,3,"Hello")
print(a)
print(type(a))

(1, 2, 3, 'Hello')
<class 'tuple'>

### Dictionary (Hashmaps)

In [31]:
d = {"mango":100, "Apple":{"Red":90,"Green":100}, "Guava":[60,70]}
print(d["mango"])
print(d["Guava"][1])
print(d["Apple"]["Red"])

#fruit = input()
#d[fruit] = 40
print(d)

#del d["mango"]
print(d)
#fruit = fruit.lower()
#print(d[fruit])

100
70
90
{'mango': 100, 'Apple': {'Red': 90, 'Green': 100}, 'Guava': [60, 70]}
{'mango': 100, 'Apple': {'Red': 90, 'Green': 100}, 'Guava': [60, 70]}

In [25]:
s = "pineapple juice is sweet"
s = s.title()
print(s)

Pineapple Juice Is Sweet

In [34]:
l = list(d.keys())
print(l)

['mango', 'Apple', 'Guava']

In [35]:
values = list(d.values())
print(values)

[100, {'Red': 90, 'Green': 100}, [60, 70]]

In [41]:
citycode = [1,2,3,4]
cities = ["Delhi","Mumbai","Chandigarh","Amritsar"]

d = dict(zip(cities,citycode))
print(d)

{'Delhi': 1, 'Mumbai': 2, 'Chandigarh': 3, 'Amritsar': 4}

In [45]:
for i in d:
    print(i,d[i])

Delhi 1
Mumbai 2
Chandigarh 3
Amritsar 4

### Set - stores unique elements

In [49]:
a = set([1,2,3,4,4,51,1,1])
print(a)

{1, 2, 3, 4, 51}

### Functions in Python

In [54]:
def sayHi(s,a=10):
    print("Hello "+s + str(a))
    print("This is inside function")
    
sayHi("everyone",50)

Hello everyone50
This is inside function

In [60]:
def checkPrime(n):
    for i in range(2,n-1):
        if(n%i==0):
            return False        
    return True

def printPrime(r):
    for i in range(2,r+1):
        if(checkPrime(i)):
            print(i,end=",")
            
printPrime(100)

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

### Passing Variable Number of Parameters

In [70]:
def fun(a,b,*x,**y):
    print(a)
    print(b)
    print(x)
    for no in x:
        print(no)
    print(type(x))
    print(y)
    for k in y:
        print(k,y[k])
fun(1,2,3,4,5,6,fruit="Mango",price="90",shake="IceCreamShake")

1
2
(3, 4, 5, 6)
3
4
5
6
<class 'tuple'>
{'fruit': 'Mango', 'price': '90', 'shake': 'IceCreamShake'}
fruit Mango
price 90
shake IceCreamShake

In [71]:
import math

In [79]:
print(math.sqrt(25))
print(math.log2(16))
print(math.log(100,10))
print(math.pi)
print(math.e)
print(-math.inf)

5.0
4.0
2.0
3.141592653589793
2.718281828459045
-inf

In [85]:
from math import sqrt as sq

In [88]:
print(sq(10))
#print(log(100,10))

3.1622776601683795

In [89]:
import math as mathematics
print(mathematics.sqrt(100))

10.0

In [90]:
import numpy as np

In [96]:
a = np.array([1,2,3,4])
print(a)
print(type(a))
print(a.shape)

[1 2 3 4]
<class 'numpy.ndarray'>
(4,)

In [108]:
b = np.array([[1],[2],[3],[4]])
print(b.shape)
print(b)
c = np.array([[1,2],[3,4]])
print(c)
d = c
print(c.shape)

(4, 1)
[[1]
 [2]
 [3]
 [4]]
[[1 2]
 [3 4]]
(2, 2)

In [111]:
c = np.array([[1,2],[3,4]])
d = np.array([[1,2],[3,4]]) + 4
print(c)
print(d)

[[1 2]
 [3 4]]
[[5 6]
 [7 8]]

In [114]:
np.dot(c,d)

array([[19, 22],
       [43, 50]])

In [129]:
z = np.zeros((4,3))

ones = np.ones((3,3),dtype='int64')
print(ones.dtype)
print(ones)

m = np.eye(4,dtype='int64')
print(m)
m[-2:, -2: ] = 5
print(m)

int64
[[1 1 1]
 [1 1 1]
 [1 1 1]]
[[1 0 0 0]
 [0 1 0 0]
 [0 0 1 0]
 [0 0 0 1]]
[[1 0 0 0]
 [0 1 0 0]
 [0 0 5 5]
 [0 0 5 5]]